<div class="page">
  <form action="">
    <div>
        <h1><a href="https://huoyingjie1.github.io/hyjch0102/">作业1</a></h1>
    </div>

    <div>
        <h1><a href="https://huoyingjie1.github.io/inventory-app/">作业2</a></h1>
    </div>

    <div>
       <h1><a href="https://huoyingjie1.github.io/ch0401/">作业3</a></h1>
    </div>

    <div>
        <h1><a href="https://huoyingjie1.github.io/try/">作业4</a></h1>
    </div>
    <div>
       <h1><a href="https://huoyingjie1.github.io/formworkapp/">作业5</a></h1>
    </div>
   
  </form>
</div>