.page{
    width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background:url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586432682164&di=13e2791d97178ff0c6ee4e8acf1a3533&imgtype=0&src=http%3A%2F%2Fb.zol-img.com.cn%2Fdesk%2Fbizhi%2Fimage%2F3%2F960x600%2F1377661123834.jpg');
		background-size:100%;
}
form{
    border: 1px solid red;
			 width: 36rem;
			 height: 25rem;
			 text-align:center;
			 font-size: 1.1rem;
			 border-radius:15px;
			 padding:1rem;
			 background:white;
			 opacity: .8;
}